<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # HTTPS Zorunlu Yönlendirme
    RewriteCond %{HTTPS} off
    RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
    
    # Ana dizine erişim varsa index.php'ye yönlendir
    RewriteRule ^$ index.php [L]
    
    # index.php dışındaki tüm istekleri public klasörüne yönlendir
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_URI} !^/index\.php$
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>



